.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------ProductForm.jsx---------*/
.fondo{
  background-color: rgb(243, 241, 241);
  margin-left: 38%;
  margin-right: 38%;
  height: 50px;
  display: flex;

}

label{
  margin-top: 5%;
  justify-content: baseline;
  width: 30%;
  text-align: left;
  color: rgb(141, 140, 140);
  font-weight: bold;
}

.val_input{
  justify-content: baseline;
  width: 50%;
  height: 40%;
  margin-top: 5%;
  margin-left: 5%;
  align-items: center;
  align-content: center;
}

.val_button{
  width: 10%;
}

/*---------Detail.jsx----------*/
.centro{
  margin-top: 10%;
}

/*------ProductList.jsx---------*/
.lista{
  display: inline-block;
  width: 15%;
}

.lista_btn{
  display: inline-block;
  width: 10%;
}